{
  "extends": ["airbnb", "next", "next/core-web-vitals"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "react/jsx-filename-extension": [2, { "extensions": [".jsx", ".tsx"] }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
