{
  "extends": ["airbnb", "next", "next/core-web-vitals"],
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "react/jsx-filename-extension": [2, { "extensions": [".jsx", ".tsx"] }]
  }
}
